body{
    background-color: rgb(0, 136, 81);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 200px 0px 200px;
    
    background-color: var(--color-bg);
    color: var(--color-fg);

    .quizContainer{
        background-color: white;
        
        background-image:
        linear-gradient(45deg, rgb(0, 136, 81) 25%, transparent 25%), 
        linear-gradient(135deg, rgb(0, 136, 81) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgb(0, 136, 81) 75%),
        linear-gradient(135deg, transparent 75%, rgb(0, 136, 81) 75%);
        background-size:25px 25px;
        background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
        
        padding: 0px 50px 50px 50px;
        
        header{
            position: sticky;
            top: 40px;
            
            .imgContainer{

                
                img{
                    width: 1000px;
                    object-fit: contain;
                    border: solid rgb(0, 136, 81) 12.5px;
                    
                    @media(max-width: 768px)
                    {
                        width: 100%;
                        object-fit: contain;
                        border: none;
                    }
                }
                
                .toggleBtn{
                    background-color: rgb(255, 210, 0);
                    border-color: rgb(255, 210, 0);
                    padding: 20px;
                    position: fixed;
                    border-width: 6px;
                    top: 90px;
                    right: 260px;
                    font-weight: bold;

                    @media(max-width: 768px)
                    {
                        top: 0px;
                        right: 0px;
                        padding: 10px;
                        border: none;
                    }
                }
            }
        }
        
        main{
            background-color: white;
            color: black;
            border: solid rgb(0, 136, 81) 12.5px;
            font-size: x-large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding: 40px;

            @media(max-width: 768px)
            {
                border: none;
            }

        }
        
        #answerButton{
            background-color: rgb(255, 210, 0);
            border-color: rgb(255, 210, 0);
            padding: 20px;
            border-width: 6px;
            margin-top: 40px;
            font-weight: bold;
            width: 200px;

        }
        
        #redoButton{
            background-color: rgb(255, 210, 0);
            border-color: rgb(255, 210, 0);
            padding: 20px;
            border-width: 6px;
            margin-top: 40px;
            font-weight: bold;
            width: 200px;

            @media(max-width: 768px)
            {
                margin-top: 5px;
            }
        }
    }
}